@import "./Base/fonts";

@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/animations";

@import "./Layout/header";
@import "./Layout/_footer";

@import "./Components/omf-button";
@import "./Components/like";

@import "./Pages/index";
@import "./Pages/menu";

BODY {
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}