.header {
    height: 11rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    @include x-padding(4rem);
    box-shadow: 0px 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.116);
    &__previous {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        i {
            font-size: 3.5em;
            
        }
    }
    &__image {
        width: 28rem;
        @include not-mobile { /* DESKTOP AND TABLET VERSION */
            width: 10vw;
        }
    }
    &--next {
        align-content: unset;
    }
    &--loader {
        animation: omf-loader $loading-duration 3
    }

    @include not-mobile { /* DESKTOP AND TABLET VERSION */
        height: 3vw;
    }
}