@font-face {
    font-family: "Main";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Special";
    src: url("../fonts/Shrikhand-Regular.ttf") format("truetype");
}

BODY {
    font-family: "Main";
}