.card {
    display: flex;
    flex-direction: column;
    @include not-mobile { /* DESKTOP AND TABLET VERSION */
        width: 49vw;
        @include y-margin(0.7vw, 0);
    }
    &__header {
        background-color: darken($color-grey, 5%);
        height: 8rem;
        z-index: -1;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        @include not-mobile { /* DESKTOP AND TABLET VERSION */
            height: 3vw;
        }
        i, p {
            margin-right: 2rem;
            font-size: 2.5em;
            @include not-mobile { /* DESKTOP AND TABLET VERSION */
                font-size: 1vw;
                @include x-margin(0, 2vw);
            }
        }

    }
    &__main {
        background-color: $color-grey;
        @include  fixed-height(45rem);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        @include x-padding(4rem);
        @include y-padding(7rem);

        @include not-mobile { /* DESKTOP AND TABLET VERSION */
            @include fixed-height(20vw);
            @include x-padding(0);
            @include y-padding(4vw);
        }

        &__title {
            @include y-margin(0);
            @include title;
            text-align: center;
            width: 75%;
        }

        p {
            @include y-margin(-4rem, 0);
            font-size: 2.8rem;
            text-align: center;

            @include not-mobile { /* DESKTOP AND TABLET VERSION */
                font-size: 1vw;
                @include y-margin(-4w, 0);
                
            }
        }
    }
}



.howto {
    @include y-padding(3rem, 10rem);
    @include x-padding(5rem, 3rem);
    display: flex;
    flex-direction: column;
    @include not-mobile { /* DESKTOP AND TABLET VERSION */
        width: 50vw;
        @include y-margin(0.7vw, 0);
        @include y-padding(0);
        @include fixed-height(23vw);
    }
    &__title {
        @include title;
    }
    &__step {
        background-color: $color-grey;
        @include y-margin(1.5rem);
        @include fixed-height(10rem);
        @include shadow;
        border-radius: 3rem;
        display: flex;
        align-items: center;

        @include not-mobile { /* DESKTOP AND TABLET VERSION */
            @include y-margin(0.5vw);
            @include x-margin(2vw, 0);
            @include fixed-height(4.5vw);
            border-radius: 1vw;
        }

        &__content {
            @include x-margin(-2rem, 0);
            font-size: 2.5em;
            font-weight: bold;

            @include not-mobile { /* DESKTOP AND TABLET VERSION */
                font-size: 1.3vw;
                @include x-margin(-0.8vw, 0);
            }

            * {
                @include x-margin(0, 2rem);
                @include not-mobile { /* DESKTOP AND TABLET VERSION */
                    @include x-margin(0, 2vw);
                }
                
            }
            span {
                background-color: $color-primary;
                border-radius: 50%;
                font-size: 0.8em;
                color: white;
                @include y-padding(0.5rem);
                @include x-padding(1.2rem);

                @include not-mobile { /* DESKTOP AND TABLET VERSION */
                    font-size: 0.8vw;
                    @include y-padding(0.4vw);
                    @include x-padding(0.6vw);
                }
            }
        }
        
    }
    &_step--last {
        background-color: lighten($color-primary, 35%);
        i {
            color: $color-primary;
        }
    }
}


.restaurants {
    background-color: $color-grey;
    @include x-padding(3rem);
    @include y-padding(4rem, 7rem);

    @include not-mobile { /* DESKTOP AND TABLET VERSION */
       @include x-padding(3vw);
       @include y-padding(0vw, 0vw);
       display: flex;
       flex-wrap: wrap;
       width: 100vw;
       justify-content: space-between;
       background-color: white;
    }

    &__title {
        @include title;
        @include not-mobile { /* DESKTOP AND TABLET VERSION */
            width: 100%;
        }
    }
    &__card {
        display: flex;
        flex-direction: column;
        border-radius: 3em;
        overflow: hidden;
        @include y-margin(0, 3rem);
        @include shadow;

        @include not-mobile { /* DESKTOP AND TABLET VERSION */
            border-radius: 1vw;
            @include y-margin(0, 3vw);
            width: 22vw;
        }

        &__image {
            position: relative;
            height: 30em;
            @include not-mobile { /* DESKTOP AND TABLET VERSION */
                height: 10vw;
            }
            img {
                position: absolute;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
            &__sticker {
                position: absolute;
                top: 2rem;
                right: 2rem;
                @include y-padding(1rem);
                @include x-padding(2rem);
                background-color: $color-tertiary;
                color: darken($color-tertiary, 40%);
                font-size: 2em;
                font-weight: bold;
                border-radius: 0.5rem;

                @include not-mobile { /* DESKTOP AND TABLET VERSION */
                    top: 0.5vw;
                    right: 0.5vw;
                    @include y-padding(0.2vw);
                    @include x-padding(0.5vw);
                    font-size: 0.8vw;
                    border-radius: 0.2vw;
                }
            }
        }
        &__label {
            @include x-padding(2rem);
            @include y-padding(2rem);
            background-color: white;
            display: flex;
            justify-content: space-between;

            @include not-mobile { /* DESKTOP AND TABLET VERSION */
                @include x-padding(1vw);
                @include y-padding(0.5vw);
                background-color: $color-grey
            }

            div:nth-child(1) {
                display: flex;
                flex-direction: column;
            }
            div:nth-child(2) {
                position: relative;
                width: 7rem;

                @include not-mobile { /* DESKTOP AND TABLET VERSION */
                    width: 1vw;
                }
            }
            &__title, &__location {
                font-size: 2.5em;
                @include y-margin(0);
                @include not-mobile { /* DESKTOP AND TABLET VERSION */
                    font-size: 1vw;
                }
            }
            &__title {
                @include y-margin(0, 0.5rem);
                font-weight: bold;
            }
        }
    }
}
.content-load {
    visibility: hidden;
    opacity: 0;
    height: 0;
    animation: omf-content;
    animation-fill-mode: forwards;
    animation-duration: $content-animation;
    animation-delay: 3000ms;
    @include not-mobile { /* DESKTOP AND TABLET VERSION */
        display: flex;
        flex-wrap: wrap;
    }
}