.menu {
    &__image {
        height: 45rem;
        position: relative;
        @include not-mobile { /* DESKTOP AND TABLET VERSION */
            height: 15vw;
        }
        img {
            position: absolute;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        &__title {
            position: absolute;
            top: 36rem;
            width: 100%;
            height: 10rem;
            box-sizing: border-box;
            border-radius: 5rem 5rem 0 0;
            background-color: $color-grey;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            @include x-padding(4rem);
            @include not-mobile { /* DESKTOP AND TABLET VERSION */
                height: 5vw;
                top: 10vw;
                left: 15vw;
                width: 70vw;
                border-radius: 3vw 3vw 0 0;
            }
            h1 {
                font-family: "special";
                @include title;
                @include y-margin(0);
            }
        }
    }
    &__content {
        background-color: $color-grey;
        @include y-padding(1rem);
        @include x-padding(4rem);
        @include not-mobile { /* DESKTOP AND TABLET VERSION */
            width: 70vw;
            margin-left: 15vw;
            box-sizing: border-box;
            &__type {
                display: flex;
                justify-content: space-between;
                flex-wrap : wrap;
            }
        }
        h2 {
            @include y-margin(6rem, 0);
            font-size: 2.5em;
            font-weight: normal;
            @include not-mobile { /* DESKTOP AND TABLET VERSION */
                @include y-margin(0);
                font-size: 1.5vw;
            }
        }
        hr {
            width: 6.5rem;
            height: 0.4rem;
            border: none;
            background-color: $color-tertiary;
            @include x-margin(0);
            @include y-margin(1rem);
            @include not-mobile { /* DESKTOP AND TABLET VERSION */
                width: 4vw;
                height: 0.2vw;
                @include y-margin(0.2vw);
            }
        }
        &__line {
            cursor: pointer;
            opacity: 0;
            animation: menu-lines $line-anim-duration;
            animation-fill-mode: forwards;
            @for $i from 1 through $line-nb {
                &--#{$i} {
                    animation-delay: $line-delay * $i;
                }
            }
            @include shadow;
            @include y-margin(5rem);
            border-radius: 2rem;
            width: 100%;
            height: 10rem;
            overflow: hidden;
            background-color: white;
            box-sizing: border-box;
            display: flex;
            @include not-mobile { /* DESKTOP AND TABLET VERSION */
                border-radius: 1vw;
                width: 20vw;
                height: 4vw;
                @include y-margin(1vw, 1.5vw);
            }
            h3 {
                font-size: 2.5em;
                @include y-margin(0);
                @include not-mobile { /* DESKTOP AND TABLET VERSION */
                    font-size: 0.9vw;
                }
            }
            p {
                font-size: 2.2em;
                @include y-margin(0);
                @include not-mobile { /* DESKTOP AND TABLET VERSION */
                    font-size: 0.8vw;
                }
            }
            & > * {
                width: 100%;
            }

            &__main {
                box-sizing: border-box;
                min-width: 0;
                @include x-padding(2rem, 3rem);
                @include y-padding(2rem);
                @include not-mobile { /* DESKTOP AND TABLET VERSION */
                    @include x-padding(1vw);
                    @include y-padding(1vw);
                }
                div {
                    display: flex;
                    justify-content: space-between;
                    p:nth-child(1) {
                        min-width: 0;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    p:nth-child(2) {
                        @include x-margin(2rem, 0);
                        font-weight: bold;
                        @include not-mobile { /* DESKTOP AND TABLET VERSION */
                            @include x-margin(0.5vw);
                        }
                    }
                }  
            }
            &__hover {
                width: 0;
                background-color: $color-tertiary;
                transition-property: width;
                transition-duration: 500ms;
                display: flex;
                justify-content: center;
                align-items: center;
                i {
                    color: white;
                    font-size: 3.5rem;
                    @include not-mobile { /* DESKTOP AND TABLET VERSION */
                        font-size: 1.2vw;
                    }
                }
            }
            :hover {
                p:nth-child(1) {
                    min-width: 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
            :hover ~ &__hover {
                width: 10rem;
                @include not-mobile { /* DESKTOP AND TABLET VERSION */
                    width: 5vw;
                }
                i {
                    animation: rotation 500ms;
                }
            }
        }
        &__button {
            display: flex;
            justify-content: center;
            @include y-margin(8rem, 10rem);
            @include not-mobile { /* DESKTOP AND TABLET VERSION */
                @include y-margin(2vw);
            }
            a {
                width: 10em;
            }
        }
    }
}