$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-grey: #f6f6f6;

$loading-duration: 1000ms;
$content-animation: 1000ms;

$line-nb: 10;
$line-anim-duration: 2000ms;
$line-delay: $line-anim-duration / $line-nb;
